@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to my Portfolio!</h1>
    <div class="row">
        <div class="col-3">
            <img src="~/images/На работе я.jpg" />

            <h3>My name is Roksana Zalesskaya</h3>I really love C # programming and digital projects in general.

            <p>I was a journalist and financier. I once received a Master's degree in mining and an Economist degree from the Higher School of Economics.</p>

            <p>Now I am happy to apply all my knowledge in digital.</p>
            <p>In addition to programming, my joy is hidden in my beloved family.</p>
            <p>My hobby is strength training and the psychology of motivation from any emotional state</p>
        </div>
    </div>

    <p>Learn about <a href="https://www.youtube.com/watch?v=bW9VWRbrJDc&list=PLuxpisQVqJ-kE0qP2YGwhpLOgSxA4x2cd">building Web apps with ASP.NET Core MVC</a> with Josef Dzeranov.</p>
</div>
