@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/images/Залесская Р.Ю..jpg" class="rounded-left" alt="Roksana" />

        <h1>Roksana Zalesskaya</h1>
        </div>
        <br />
   <div class="row">
    <div class="col-6">
        <h3>Work experience</h3>
        <ul>
            <li>
                Offline sales 1994-2002
            </li>
            <li>
                Journalist (economics and finance) 2002-2008
            </li>
            <li>
                Head of Department of the Ministry of Finance 2008-2011
            </li>
            <li>
                Online sales (IT-project) 2021-2022
            </li>
        </ul>
    </div>
    <div class="col-6">
        <h3>My education and skills</h3>
        <ul>
            <li>
                Moscow State University of Mining (1996-2000)
            </li>
            <li>
                High School of Economics (2013-2016)
            </li>
            <li>
                ITMO University (basics of programming, 2020)
            </li>
            <li>
                Programming courses by Josef Dzeranov C#, Python, ASP.NET Core (2020-2023)
            </li>
        </ul>
    </div>
</div>
<br />
<span class="">
    I have 4 children and I enjoy playing music and sports with them.
    I am interested in economics, entrepreneurship and investment.
</span>
<p>
    But the absolute favorite in my interests from 2020 is programming. And now I am ready to look for a job in backend programming.
    </p>

<p>
    You can see the list of my projects and links in the section "My projects". Welcome!
</p>


<p>Learn about <a href="https://www.youtube.com/watch?v=bW9VWRbrJDc&list=PLuxpisQVqJ-kE0qP2YGwhpLOgSxA4x2cd">building Web apps with ASP.NET Core MVC</a> with Josef Dzeranov.</p>
